@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.geocoding {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.geocoding > div > form {
  max-width: 25vw !important;
  width: 25vw !important;
}

.geocoding > div > form > div.input-group {
  height: 7vh;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}
